body
{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
form
{
    border: 2px solid #dc14a7;
    width: 50%;

    text-align: left;
    margin-left: 320px;
}
.anu
{
    margin-left:180px;
    margin-bottom: 50px;
}
.anu input
{
    color: blueviolet;
    border: 10px;
    
}
.anu h1
{
    color: darkmagenta;
}
.anu label
{
    color: rgb(223, 12, 12);

}